.about-us-container {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  .heading {
    font-family: "Fasthand";
    color: #0008c1;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .about-us-wrapper {
    .point-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .title {
        display: block;
        width: 100%;
      }

      .point-card {
        width: 44%;
        margin: 2% 3%;
        border: 1px solid #858585;
        border-radius: 0.5rem;
        overflow: hidden;

        .title {
          text-align: center;
          padding: 0.5rem 0;
          font-size: 1.3rem;
          background-color: rgb(47, 47, 47);
          color: #ffffff;
        }
        .des {
          padding: 0.6rem 0.5rem;
          font-style: italic;
        }
      }
    }
  }

  .mission-wrapper {
    .point-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .title {
        display: block;
        width: 100%;
      }
      .point-card {
        width: 100%;
        .title {
          padding: 0.5rem .3rem;
          padding-bottom: .2rem;
          font-size: 1.3rem;
          color: #000000;
          font-weight: 600;
        }
        .des {
          padding: .1rem 0.5rem;
          margin-left: 1rem;
          font-style: italic;

        }
      }
    }
  }
  .team-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .team {
      max-width: 300px;
      max-height: 300px;
      margin: 20px;
      .l-img {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        transition: 0.3s all;
        opacity: 1;
        filter: alpha(opacity=100);
        &:hover {
          .l-caption {
            transform: translateY(0%) scale(1);
          }
        }
        .l-caption {
          background-color: rgba(1, 4, 6, 0.45);
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 15px;
          right: 0;
          text-align: center;
          z-index: 99;
          transition: 0.3s all;
          transform: translateY(150%) scale(1.5);
          ul {
            display: inline-block;
            li {
              display: inline-block;
              a {
                border-radius: 50%;
                color: #095880;
                display: inline-block;
                margin: 0;
                height: 28px;
                text-align: center;
                line-height: 30px;
                width: 28px;
                transition: 0.3s all;
                &:hover {
                  transform: scale(1.5);
                }
              }
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
        @media (max-width: 768px) {
          .l-caption {
            transform: translateY(0%) scale(1);
          }
          li {
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
    .l-info {
      text-align: center;
      padding: 5px;
      background-color: #000;

      h5 {
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #eaeaea;
      }
      p {
        font-family: "Fasthand";
        letter-spacing: 2px;
        color: #eaeaea;
      }
    }
  }
}
